/trunk/AdChina.Base/bin

/trunk/AdChina.Base.Data/bin

/trunk/AdChina.Base.Data.Dynamic/bin

/trunk/AdChina.Base.Dynamic/bin

/trunk/Test/bin

/trunk/AdChina.Base/obj

/trunk/AdChina.Base.Data/obj

/trunk/AdChina.Base.Data.Dynamic/obj

/trunk/AdChina.Base.Dynamic/obj

/trunk/Test/obj
